/* prevent the overlay from being horizontally scrollable */
.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

/* in landscape, come in from the right */
.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: var(--appMargin);
  bottom: var(--appMargin);
  left: 66%;
  right: var(--appMargin);
  transform: translateX(100%) translateX(var(--appMargin));
  transition: all var(--transition);
  pointer-events: all;
}

@media (orientation: portrait) {

  /* in portrait, come in from the bottom */
  .overlay {
    top: 66%;
    left: var(--appMargin);
    transform: translateY(100%) translateY(var(--appMargin));
  }
}

.open {
  transition: transform var(--transition);
  transform: none;
}
