/* in landscape, come in from the right */
.overlay {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: var(--appMargin);
  bottom: var(--appMargin);
  left: 66%;
  right: var(--appMargin);
  transform: translateX(100%) translateX(var(--appMargin));
  transition: all var(--transition);
}

@media (orientation: portrait) {
  /* in portrait, come in from the bottom */
  .overlay {
    top: 66%;
    left: var(--appMargin);
    transform: translateY(100%) translateY(var(--appMargin));
  }
}

.open {
  transition: transform var(--transition);
  transform: none;
}
