.container {
  padding: 0;
  /* ios sizing is hard https://dev-tips.com/css/overlapping-bottom-navigation-bar-despite-100vh-in-ios-safari */
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  height: stretch;
  display: flex
}

.main {
  padding: var(--appMargin);
  flex: 1;
  display: flex;
}
